@charset "utf-8";

/* Global && Reset */

li,
textarea {
  vertical-align: top;
}

article,
aside,
body,
details,
figcaption,
figure,
footer,
header,
hgroup,
html,
iframe,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 12px/1.5 'PingFang SC', 'microsoft yahei', tahoma, arial,
    'helvetica neue', 'hiragino sans gb', sans-serif;
}

html[lang=en] body {
  font: 12px/1.5 tahoma, arial, 'helvetica neue', 'hiragino sans gb', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

a:active {
  background-color: transparent;
}

a:active,
a:hover,
a:link,
a:visited {
  outline: 0;
  /* *star: expression(this.onFocus=this.blur()); */
}

b,
cite,
code,
em,
i,
small,
th {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
}

button,
input,
select,
textarea {
  font-size: 1em;
  box-sizing: content-box;
}

button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
iframe,
img {
  border: 0;
}

img {
  display: inline-block;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style: none;
}

body,
html {
  background: #fff;
  width: 100%;
}

nav,
section {
  margin: 0 20em;
}

.wrap {
  display: flex;
  overflow: hidden;
}

/* Navbar */
.nav_wrap {
  justify-content: space-between;
}

.nav_wrap ul > li {
  display: inline-block;
}

/* Banner */
.banner {
  background-image: url("../image/banner.png");
  background-size: 100% 100%;
  height: 512px;
}

.cut {
  margin: 0 200px;
}

/* Advantage */

.advantage_wrap {
  flex-wrap: wrap;
}

.advantage_row {
  display: flex;
  flex-basis: 100%;
}

.advantage_row:nth-of-type(1) {
  justify-content: flex-start;
}

.advantage_row:nth-of-type(2),
.advantage_row:nth-of-type(3) {
  justify-content: center;
}

.advantage_row:nth-of-type(4) {
  justify-content: space-between;
}

/* Data */
.data_wrap {
  flex-wrap: wrap;
}

.data_row {
  display: flex;
  flex-basis: 100%;
}

.data_row:nth-of-type(1) {
  justify-content: center;
}

.data_row:nth-of-type(2) {
  justify-content: space-around;
}



/* Scene */
.scene_row {
  justify-content: space-between;
}

.scene_person,
.scene_pic {
  display: flex;
}



/* Parameter */
section.parameter_wrap {
  margin: 0;
}
.parameter_wrap {
  background-image: url("../image/pic_background01.png");
  flex-wrap: wrap;
}

.parameter_row {
  display: row;
  flex-direction: column;
}

.parameter_row:nth-of-type(1) > figure {
  display: flex;
  margin-left: 20em;
}

.parameter_row:nth-of-type(2) {
  margin-right: 20em;
}





