@charset "utf-8";

/* Global && Reset */

li,
textarea {
  vertical-align: top;
}

article,
aside,
body,
details,
figcaption,
figure,
footer,
header,
hgroup,
html,
iframe,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 12px/1.5 'PingFang SC', 'microsoft yahei', tahoma, arial,
    'helvetica neue', 'hiragino sans gb', sans-serif;
}

html body {
  font: 12px/1.5 tahoma, arial, 'helvetica neue', 'hiragino sans gb', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

a:active {
  background-color: transparent;
}

a:active,
a:hover,
a:link,
a:visited {
  outline: 0;
  /* *star: expression(this.onFocus=this.blur()); */
}

b,
cite,
code,
em,
i,
small,
th {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
}

button,
input,
select,
textarea {
  font-size: 1em;
  box-sizing: content-box;
}

button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
iframe,
img {
  border: 0;
}

img {
  display: inline-block;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style: none;
}

body,
html {
  font-size: 62.5%;
  background: #fff;
  width: 100%;
}

nav,
section,
footer {
  margin: 0 20%;
}

/* Navbar */
.wrap {
  display: flex;
  flex: auto;
}

.nav_wrap {
  justify-content: space-between;
  flex: auto;
}

.nav_wrap a img {
  height: 80px;
  width: 200px;
}

.nav_wrap ul > li {
  display: inline-block;
}

/* Banner */
.banner_wrap {
  background-image: url("../image/banner.png");
  background-size: 100% 100%;
  height: 512px;
}

.banner_wrap div h4 {
  margin-top: 52px;
}



/* Cut */
.cut_wrap {
  margin-top: 72px;
  margin-bottom: 56px;
}

.cut_text {
  margin-right: 16px;
}

.cut_line {
  display: inline-block;
  width: 666px;
  overflow: hidden;
  border-top: 1px solid #888888;
  vertical-align: middle;
}

/* Advantage */

.advantage_wrap {
  flex-wrap: wrap;
  flex: auto;
}

.advantage_row {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.advantage_row:nth-of-type(2) {
  margin: 20px 0 72px 0;
}

.advantage_row:nth-of-type(3) figure > img {
  height: 210px;
  width: 340px;
  overflow: hidden;
}

.advantage_row:nth-of-type(3) figure > figcaption {
  margin: 24px 0 72px 0; 
  text-align: center;
}

/* Data */
.data_wrap {
  flex-wrap: wrap;
  flex: auto;
}

.data_row {
  display: flex;
  flex-basis: 100%;
}

.data_row:nth-of-type(1) {
  justify-content: center;
  margin: 60px 0 45px 0;
}

.data_row:nth-of-type(1) > img {
  height: 58px;
  width: 58px;
}

.data_row:nth-of-type(2) {
  justify-content: space-around;
  text-align: center;
}

.data_row:nth-of-type(2) > div > p {
  margin: 10px 0 70px 0;
}





/* Scene */
.scene_wrap {
  flex-wrap: wrap;
  flex: auto;
}

.scene_row {
  justify-content: space-between;
}

.scene_person,
.scene_pic {
  display: flex;
  justify-content: space-between;
}

.scene_row:nth-of-type(1) img {
  height: 300px;
  width: 300px;
  margin-right: 75px;
}

.scene_person h4 {
  margin-bottom: 18px;
}

.scene_person ol > li > span {
  margin-right: 20px;
}

.sketch_lock img {
  height: 158px;
  width: 66px;
}

.scene_pic {
  display: flex;
  flex: auto;
  margin: 42px 0 150px 0;
  justify-content: space-around;
}

.scene_pic > img {
  height: 110px;
  width: 156px;
}

/* Parameter */
section.parameter_wrap {
  margin: 0;
}
.parameter_wrap {
  background-image: url("../image/pic_background01.png");
  background-size: 100% 100%;
  flex-wrap: wrap;
  flex: auto;
  justify-content: center;
  align-items: center;
  height: 520px;
}

.parameter_row {
  display: flex;
  flex-direction: column;
}

.parameter_row:nth-of-type(1) > figure {
  margin-left: 20%;
}

.parameter_row:nth-of-type(1) > figure > img {
  height: 78px;
  width: 300px;
  overflow: hidden;
  margin-bottom: 12px;
  margin-right: 50px;
}

.parameter_row:nth-of-type(1) figure

.parameter_row:nth-of-type(2) {
  margin-right: 20%;
}

.parameter_row:nth-of-type(2) div {
  margin: 60px 0;
}

/* Product */
.product_wrap {
  flex-wrap: wrap;
}

.product_row {
  display: flex;
  flex-basis: 100%;
}

.product_row:nth-of-type(1),
.product_row:nth-of-type(3) {
  justify-content: center;
}

.product_row:nth-of-type(2) {
  justify-content: space-around;
}

.product_row:nth-of-type(2) img {
  height: 310px;
  width: 450px;
}

.product_row:nth-of-type(3) img {
  height: 120px;
  width: 120px;
}

/* Contact */
section.contact_wrap {
  margin: 0;
}

.contact_wrap {
  flex-wrap: wrap;
  flex: auto;
  justify-content: space-around;
  background-image: url("../image/pic_background02.png");
  background-size: 100% 100%;
  height: 518px;
}

.contact_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact_row:nth-of-type(1) {
  margin-left: 20px;
}

.contact_row:nth-of-type(1) div img {
  height: 40px;
  width: 40px;
}

.contact_row:nth-of-type(2) {
  margin-right: 20px;
}

.form_element > input{
  display: block;
  width: 342px;
  height: 36px;
}

.form_element textarea {
  width: 344px;
  height: 120px;
}

.form_element button {
  height: 32px;
  width: 175px;
}


/* Footer */
.footer_wrap {
  flex-wrap: wrap;
  flex: auto;
}

.footer_row {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
}
.footer_row:nth-of-type(1) {
  justify-content: center;
}
.footer_row:nth-of-type(1) figure img {
  height: 136px;
  width: 136px;
}

.footer_row:nth-of-type(1) figure {
  text-align: center; 
}

